doc/validationobject.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://gateway.securenet.com/API/Contracts"
            targetNamespace="http://gateway.securenet.com/API/Contracts"
            elementFormDefault="qualified"
            xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element  name="TRANSACTION" nillable="true" type="tns:TRANSACTION" />
  <xs:element name="TRANSACTION_VAULT" nillable="true" type="tns:TRANSACTION_VAULT" />
  <xs:element name="TRANSACTIONIMAGE" nillable="true" type="tns:TRANSACTIONIMAGE" />
  <xs:element name="PLAN_AB" nillable="true" type="tns:PLAN_AB" />
  <xs:element name="PLAN_AB_EXT" nillable="true" type="tns:PLAN_AB_EXT" />
  <xs:element name="MERCHANT_KEY" nillable="true" type="tns:MERCHANT_KEY" />
  <xs:element name="SOURCE_MERCHANT_KEY" nillable="true" type="tns:MERCHANT_KEY" />
  <xs:element name="TARGET_MERCHANT_KEY" nillable="true" type="tns:MERCHANT_KEY" />
  <xs:element name="SOURCE_ACCOUNT_VAULT" nillable="true" type="tns:ACCOUNT_VAULT" />
  <xs:element name="TARGET_ACCOUNT_VAULT" nillable="true" type="tns:ACCOUNT_VAULT" />
  <xs:element name="OPERATIONPARAMETERS" nillable="true" type="tns:OPERATIONPARAMETERS" />
  <xs:element name="ProcessABAccount" nillable="true" type="tns:ProcessABAccount" />
  <xs:element name ="CREATE_CUSTOMER" nillable = "true" type= "xs:int"/>
  <xs:element name ="CHANGE_ACCOUNT_INFO_TO_TARGET" nillable ="true" type ="xs:int" />

  <!--START TRANSACTION-->
  <xs:complexType name="TRANSACTION">
    <xs:all>
      <xs:element minOccurs="0" name="AMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="AUTHCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTO" nillable="true" type="tns:AUTO" />
      <xs:element minOccurs="0" name="CARD" nillable="true" type="tns:CARD" />
      <xs:element minOccurs="0" name="CASHBACK_AMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHECK" nillable="true" type="tns:CHECK" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="tns:dtTransactionTYPE" />
      <xs:element minOccurs="0" name="CUSTOMERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTOMERIP" nillable="true" type="tns:dtMax20StringLength" />
      <xs:element minOccurs="0" name="CUSTOMER_BILL" nillable="true" type="tns:CUSTOMER_BILL" />
      <xs:element minOccurs="0" name="CUSTOMER_SHIP" nillable="true" type="tns:CUSTOMER_SHIP" />
      <xs:element minOccurs="0" name="DCI" type="xs:int" />
      <xs:element minOccurs="0" name="DEVICECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENCRYPTION" nillable="true" type="tns:ENCRYPTION" />
      <xs:element minOccurs="0" name="ENTRYSOURCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOTEL" nillable="true" type="tns:HOTEL" />
      <xs:element minOccurs="0" name="INDUSTRYSPECIFICDATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALLMENT_SEQUENCENUM" type="xs:short" />
      <xs:element minOccurs="0" name="INVOICEDESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INVOICENUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEVEL2" nillable="true" type="tns:LEVEL2" />
      <xs:element minOccurs="0" name="LEVEL3" nillable="true" type="tns:LEVEL3" />
      <xs:element minOccurs="0" name="MARKETSPECIFICDATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MERCHANT_KEY" nillable="true" type="tns:MERCHANT_KEY" />
      <xs:element minOccurs="0" name="METHOD" nillable="true" type="tns:dtMETHOD" />
      <xs:element minOccurs="0" name="MPI" nillable="true" type="tns:MPI" />
      <xs:element minOccurs="0" name="NOTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDERID" nillable="true" type="tns:dtALPHANUMERIC" />
      <xs:element minOccurs="0" name="OVERRIDE_FROM" type="tns:dtOverrideFrom" />
      <xs:element minOccurs="0" name="PAYMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PETROLEUM" nillable="true" type="tns:PETROLEUM" />
      <xs:element minOccurs="0" name="POSDATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCTS" nillable="true" type="tns:ArrayOfPRODUCT" />
      <xs:element minOccurs="0" name="REF_TRANSID" nillable="true" type="tns:dtMax15StringLength" />
      <xs:element minOccurs="0" name="RETAIL_LANENUM" type="xs:int" />
      <xs:element minOccurs="0" name="SECONDARY_MERCHANT_KEY" nillable="true" type="tns:MERCHANT_KEY" />
      <xs:element minOccurs="0" name="SERVICE" nillable="true" type="tns:SERVICE" />
      <xs:element minOccurs="0" name="SOFTDESCRIPTOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_INSTALLMENTCOUNT" type="xs:short" />
      <xs:element minOccurs="0" name="TRANSACTION_SERVICE" type="tns:dtTransactionServiceType" />
      <xs:element minOccurs="0" name="USERDEFINED" nillable="true" type="tns:USERDEFINED" />
      <xs:element minOccurs="0" name="DEVELOPERID" nillable="true" type="tns:dtMax8StringLength" />
      <xs:element minOccurs="0" name="TERMINAL" nillable="true" type="tns:TERMINAL" />
      <xs:element minOccurs="0" name="VERSION" nillable="true" type="tns:dtMax10StringLength" />
      <xs:element minOccurs="0" name="HEALTHCARE" nillable="true" type="tns:HEALTHCARE" />
      <xs:element minOccurs="0" name="IMAGE" nillable="true" type="tns:IMAGE" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="IMAGE">
    <xs:all>
      <xs:element minOccurs="0" name="CHECKIMAGE" nillable="true" type="tns:CHECKIMAGE" />      
      <xs:element minOccurs="0" name="SIGNATURE" nillable="true" type="xs:base64Binary" />      
    </xs:all>
  </xs:complexType>
  <xs:complexType name="AUTO">
    <xs:all>
      <xs:element minOccurs="0" name="EXTRA_CHARGEAMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="EXTRA_CHARGECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PREFERRED_CUSTOMER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RENTALCITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RENTALDATETIME" nillable="true" type="tns:dtMax14StringLength" />
      <xs:element minOccurs="0" name="RENTALSTATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RETURNCITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RETURNDATETIME" nillable="true" type="tns:dtMax14StringLength" />
      <xs:element minOccurs="0" name="RETURNSTATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SALECODE" nillable="true" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CARD">
    <xs:all>
      <xs:element minOccurs="0" name="CARDCODE" nillable="true" type="tns:dtCardCode" />
      <xs:element minOccurs="0" name="CARDNUMBER" nillable="true" type="tns:dtCreditCardNumber" />
      <xs:element minOccurs="0" name="EXPDATE" nillable="true" type="tns:dtExpDate" />
      <xs:element minOccurs="0" name="KSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PINBLOCK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRACKDATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDITIONALINFO" nillable="true" type="xs:string" />      
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CHECK">
    <xs:all>
      <xs:element minOccurs="0" name="ABACODE" nillable="true" type="tns:dtCheckABACode" />
      <xs:element minOccurs="0" name="ACCOUNTNAME" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="ACCOUNTNUM" nillable="true" type="tns:dtAccountNumber" />
      <xs:element minOccurs="0" name="ACCOUNTTYPE" nillable="true" type="tns:dtCheckAccountType" />
      <xs:element minOccurs="0" name="BANKNAME" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="CHECKNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MICRDATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECCODE" nillable="true" type="tns:dtMax20StringLength" />
      <xs:element minOccurs="0" name="ADDITIONALINFO" nillable="true" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CUSTOMER_BILL">
    <xs:all>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="tns:dtMax60StringLength" />
      <xs:element minOccurs="0" name="CITY" nillable="true" type="tns:dtMax40StringLength" />
      <xs:element minOccurs="0" name="COMPANY" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="COUNTRY" nillable="true" type="tns:dtMax60StringLength" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="tns:dtMax255StringLength" />
      <xs:element minOccurs="0" name="EMAILRECEIPT" nillable="true" type="tns:dtEmailReceipt" />
      <xs:element minOccurs="0" name="FIRSTNAME" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="LASTNAME" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="PHONE" nillable="true" type="tns:dtMax25StringLength" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="tns:dtMax40StringLength" />
      <xs:element minOccurs="0" name="ZIP" nillable="true" type="tns:dtMax20StringLength" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CUSTOMER_SHIP">
    <xs:all>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="CITY" nillable="true" type="tns:dtMax40StringLength" />
      <xs:element minOccurs="0" name="COMPANY" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="COUNTRY" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="FIRSTNAME" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="LASTNAME" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="tns:dtMax40StringLength" />
      <xs:element minOccurs="0" name="ZIP" nillable="true" type="tns:dtMax20StringLength" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ENCRYPTION">
    <xs:all>
      <xs:element minOccurs="0" name="ENCRYPTIONMODE" type="tns:dtEncryptionValue" />
      <xs:element minOccurs="0" name="KSI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KEYID" nillable="true" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="HOTEL">
    <xs:all>
      <xs:element minOccurs="0" name="CHARGETYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKIN_DATE" nillable="true" type="tns:dtMax14StringLength" />
      <xs:element minOccurs="0" name="CHECKOUT_DATE" nillable="true" type="tns:dtMax14StringLength" />
      <xs:element minOccurs="0" name="EXTRA_CHARGEAMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="EXTRA_CHARGECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PREFERRED_CUSTOMER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROOMRATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="SALECODE" nillable="true" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="LEVEL2">
    <xs:all>
      <xs:element minOccurs="0" name="DUTY" type="xs:decimal" />
      <xs:element minOccurs="0" name="FREIGHT" type="xs:decimal" />
      <xs:element minOccurs="0" name="PONUM" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="TAX" type="xs:decimal" />
      <xs:element minOccurs="0" name="TAXFLAG" nillable="true" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="LEVEL3">
    <xs:all>   
      <xs:element minOccurs="0" name="COUNTRYCODETO" nillable="true" type="xs:string" />      
      <xs:element minOccurs="0" name="LEVEL3PRODUCTS" nillable="true" type="tns:ArrayOfLEVEL3PRODUCT" />
      <xs:element minOccurs="0" name="MERCHANT_VAT_REGISTRATION_NUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_DISCOUNT_AMT" type="xs:decimal" />
      <xs:element minOccurs="0" name="PURCHASER_ORDER_DATE" nillable="true" type="tns:dtMax14StringLength" />
      <xs:element minOccurs="0" name="PURCHASER_VAT_REGISTRATION_NUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUMMARY_COMMODITY_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VATTAX_RATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPFROM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPTO" nillable="true" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfLEVEL3PRODUCT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LEVEL3PRODUCT" nillable="true" type="tns:LEVEL3PRODUCT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LEVEL3PRODUCT">
    <xs:all>
      <xs:element minOccurs="0" name="ALTTAXID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMODITYCODE" nillable="true" type="tns:dtMax12StringLength" />
      <xs:element minOccurs="0" name="DISCOUNTAMT" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNTRATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_INDICATOR" nillable="true" type="tns:dtIndicator" />
      <xs:element minOccurs="0" name="GROSSNET_INDICATOR" nillable="true" type="tns:dtIndicator" />
      <xs:element minOccurs="0" name="ITEMCODE" nillable="true" type="tns:dtMax12StringLength" />
      <xs:element minOccurs="0" name="ITEMNAME" nillable="true" type="tns:dtMax35StringLength" />
      <xs:element minOccurs="0" name="ITEMTOTALAMT" type="xs:decimal" />
      <xs:element minOccurs="0" name="QUANTITY" type="xs:decimal" />
      <xs:element minOccurs="0" name="TAXAMT" type="xs:decimal" />
      <xs:element minOccurs="0" name="TAXRATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="TAXTYPEIDENTIFIER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAXTYPE_APPLIED" nillable="true" type="tns:dtMax4StringLength" />
      <xs:element minOccurs="0" name="UNIT" nillable="true" type="tns:dtMax12StringLength" />
      <xs:element minOccurs="0" name="UNITPRICE" type="xs:decimal" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="MERCHANT_KEY">
    <xs:all>
      <xs:element minOccurs="0" name="GROUPID" type="xs:int" />
      <xs:element minOccurs="0" name="SECUREKEY" nillable="true" type="tns:dtSECUREKEY" />
      <xs:element minOccurs="0" name="SECURENETID" type="tns:dtSECURENETID" />
      <xs:element minOccurs="0" name="ADDITIONALINFO" nillable="true" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="MPI">
    <xs:all>
      <xs:element minOccurs="0" name="AUTHINDICATOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTHVALUE" nillable="true" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="PETROLEUM">
    <xs:all>
      <xs:element minOccurs="0" name="DRIVEJOBNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLEET_REFERENCENUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULLSERV_INDICATOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GALLONS" type="xs:int" />
      <xs:element minOccurs="0" name="ODOMETER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCTS" nillable="true" type="tns:ArrayOfPRODUCT" />
      <xs:element minOccurs="0" name="TAXAMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="UNITPRICE" type="xs:decimal" />
      <xs:element minOccurs="0" name="VEHICLENUM" nillable="true" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfPRODUCT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PRODUCT" nillable="true" type="tns:PRODUCT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PRODUCT">
    <xs:all>
      <xs:element minOccurs="0" name="AMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="tns:dtMax9StringLength" />
      <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="tns:dtMax30StringLength" />
      <xs:element minOccurs="0" name="QUANTITY" nillable="true" type="tns:dtMax10StringLength" />
      <xs:element minOccurs="0" name="TAX" type="xs:decimal" />
      <xs:element minOccurs="0" name="TAXABLE" nillable="true" type="tns:dtMax3StringLength" />
      <xs:element minOccurs="0" name="UNIT" nillable="true" type="tns:dtMax9StringLength" />
      <xs:element minOccurs="0" name="UNITPRICE" type="xs:decimal" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="SERVICE">
    <xs:all>
      <xs:element minOccurs="0" name="GRATUITY" type="xs:decimal" />
      <xs:element minOccurs="0" name="SERVERNUM" nillable="true" type="tns:dtMax6StringLength" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="USERDEFINED">
    <xs:all>
      <xs:element minOccurs="0" name="UD1" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD10" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD11" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD12" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD13" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD14" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD15" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD16" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD17" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD18" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD19" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD2" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD20" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD21" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD22" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD23" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD24" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD25" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD26" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD27" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD28" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD29" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD3" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD30" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD31" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD32" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD33" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD34" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD35" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD36" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD37" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD38" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD39" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD4" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD40" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD41" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD42" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD43" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD44" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD45" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD46" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD47" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD48" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD49" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD5" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD50" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD6" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD7" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD8" nillable="true" type="tns:dtMax50StringLength" />
      <xs:element minOccurs="0" name="UD9" nillable="true" type="tns:dtMax50StringLength" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="TERMINAL">
    <xs:all>
      <xs:element minOccurs="0" name="STORENUMBER" nillable="true"  type="tns:dtMax10StringLength" />
      <xs:element minOccurs="0" name="TERMINALCITY" nillable="true" type="tns:dtMax27StringLength" />
      <xs:element minOccurs="0" name="TERMINALID" nillable="true" type="tns:dtMax20StringLength" />
      <xs:element minOccurs="0" name="TERMINALLOCATION" nillable="true" type="tns:dtMax27StringLength" />
      <xs:element minOccurs="0" name="TERMINALSTATE" nillable="true" type="tns:dtMax10StringLength" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="HEALTHCARE">
    <xs:all>
      <xs:element minOccurs="0" name="CARRIERID" nillable="true" type="tns:dtMax6StringLength" />
      <xs:element minOccurs="0" name="CLINIC_AMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="DENTAL_AMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="OTC_AMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRESCRIPTION_AMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="SERVICE_TYPECODE" type="tns:dtMax2StringLength" />
      <xs:element minOccurs="0" name="VISION_AMOUNT" type="xs:decimal" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="dtSECURENETID">
    <xs:restriction base="xs:int">
      <xs:pattern value="\d{7}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtSECUREKEY">
    <xs:restriction base="xs:string">
      <xs:pattern value=".{9,12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtCreditCardNumber">
    <xs:restriction base="xs:string">
      <!--<xs:pattern value="^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$" />-->
      <xs:pattern value="((\d{12,24})|(\d{4})|(.{172}))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtAccountNumber">
    <xs:restriction base="xs:string">      
      <xs:pattern value="((\d{4,17})|(.{172})|(.{0}))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtALPHANUMERIC">
    <xs:restriction base="xs:string">
      <xs:pattern value="^[.a-zA-Z0-9_-]*$" />
    </xs:restriction>
  </xs:simpleType>
 
  <xs:simpleType name="dtExpDate">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtCardCode">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtCheckABACode">
    <xs:restriction base="xs:string">
      <xs:pattern value="((\d{9})|(\d{0}))"/>
    </xs:restriction>
  </xs:simpleType> 
  <xs:simpleType name="dtCheckAccountType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHECKING"/>
      <xs:enumeration value="SAVINGS"/>
      <xs:enumeration value="BUSINESS"/>
      <xs:enumeration value="BCHECK"/>
      <xs:enumeration value="BSAVE"/>
      <xs:enumeration value=""/>
      <xs:minLength value="0"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax2StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax3StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="3"/>
    </xs:restriction>    
  </xs:simpleType>
  <xs:simpleType name="dtMax4StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
 
  <xs:simpleType name="dtMax6StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax8StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax9StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax10StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax12StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax14StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="14"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax15StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax20StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax25StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax27StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="27"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax30StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax35StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax40StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtMax60StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="dtMax50StringLength">
      <xs:restriction base="xs:string">
        <xs:maxLength value="50"/>
      </xs:restriction>
    </xs:simpleType>    
  <xs:simpleType name="dtMax255StringLength">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="dtEmailReceipt">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TRUE"/>
      <xs:enumeration value="FALSE"/>
      <xs:enumeration value=""/>
      <xs:minLength value="0"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtTransactionTYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0000" />      <!--AUTH_ONLY-->
      <xs:enumeration value="0001" />      <!--PARTIAL_AUTH_ONLY-->
      <xs:enumeration value="0100" />      <!--AUTH_CAPTURE-->
      <xs:enumeration value="0101" />      <!--PARTIAL_AUTH_CAPTURE-->
      <xs:enumeration value="0200" />      <!--PRIOR_AUTH_CAPTURE-->
      <xs:enumeration value="0201" />      <!--UPDATE_TRANS_INFO-->
      <xs:enumeration value="0300" />      <!--CAPTURE_ONLY-->
      <xs:enumeration value="0400" />      <!--VOID-->
      <xs:enumeration value="0401" />      <!--VOID-->
      <xs:enumeration value="0402" />      <!--for Void by orderid-->
      <xs:enumeration value="0500" />      <!--CREDIT-->
      <xs:enumeration value="0501" />      <!--CREDIT_AUTHONLY-->
      <xs:enumeration value="0502" />      <!--CREDIT_PRIORAUTHCAPTURE-->
      <xs:enumeration value="0600" />      <!--FORCE_CREDIT-->
      <xs:enumeration value="0601" />      <!--FORCE_CREDIT_AUTHONLY-->
      <xs:enumeration value="0602" />      <!--FORCE_CREDIT_PRIORAUTHCAPTURE-->
      <xs:enumeration value="0700" />      <!--VERIFICATION-->
      <xs:enumeration value="0800" />      <!--AUTH_INCREMENT-->
      <xs:enumeration value="0900" />      <!--ISSUE-->
      <xs:enumeration value="0901" />      <!--ACTIVATE-->
      <xs:enumeration value="0902" />      <!--REDEEM-->
      <xs:enumeration value="0903" />      <!--REDEEM_PARTIAL-->
      <xs:enumeration value="0904" />      <!--DEACTIVATE-->
      <xs:enumeration value="0905" />      <!--REACTIVATE-->
      <xs:enumeration value="0906" />      <!--INQUIRY_BALANCE-->
      <xs:enumeration value="0907" />      <!--RECHARGE-->
      <xs:enumeration value="0908" />      <!--ISSUE_VIRTUAL-->
      <xs:enumeration value="0909" />      <!--CASH_OUT-->
    </xs:restriction>
  </xs:simpleType>
  <!--<xs:simpleType name="dtTEST">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TRUE" />
      <xs:enumeration value="FALSE" />
    </xs:restriction>
  </xs:simpleType>-->
  <xs:simpleType name="dtTransactionServiceType">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" /><!--Client Specific -->
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtOverrideFrom">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0" /><!--transaction-->
      <xs:enumeration value="1" /><!--Customer-->
      <xs:enumeration value="2" /><!--Account-->
      <xs:enumeration value="3" />      <!--ExistingTransactionInfo-->
      <xs:enumeration value="4" />      <!--CustBillingTransUDF-->
      <xs:enumeration value="5" />      <!--AcntBillingTransUDF-->
      <xs:enumeration value="6" />      <!--TransBillingCustUDF-->
      <xs:enumeration value="7" />      <!--TransBillingAcntUDF-->
      <xs:enumeration value="8" />      <!--AcntBillingCustUDF-->
      <xs:enumeration value="9" />      <!--CustBillingAcntUDF-->
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="dtMETHOD">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CC" />
      <xs:enumeration value="DB" />
      <xs:enumeration value="ECHECK" />
      <xs:enumeration value="CHECK21" />      
      <xs:enumeration value="PD" />
      <xs:enumeration value="SV" />
      <xs:enumeration value="EBT" />      
    </xs:restriction>
  </xs:simpleType>
 
  
  <xs:simpleType name="dtIndicator">
    <!--NATIONALTAX_AMT_INDICATOR/ALTTAX_AMT_INDICATOR/DISCOUNT_INDICATOR/GROSSNET_INDICATOR-->
    
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <!--END TRANSACTION-->
  
  <!--START TRANSACTION_VAULT-->

  <xs:complexType name="TRANSACTION_VAULT">
    <xs:all>
      <xs:element minOccurs="0" name="ACCOUNT_VAULT" nillable="true" type="tns:ACCOUNT_VAULT" />
      <xs:element minOccurs="0" name="CUSTOMER_VAULT" nillable="true" type="tns:CUSTOMER_VAULT" />
      <xs:element minOccurs="0" name="MERCHANT_KEY" nillable="true" type="tns:MERCHANT_KEY" />
      <xs:element minOccurs="0" name="OPERATIONPARAMETERS" nillable="true" type="tns:OPERATIONPARAMETERS" />
      <xs:element minOccurs="0" name="TRANSACTION" nillable="true" type="tns:TRANSACTION" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ACCOUNT_VAULT">
    <xs:all>
      <xs:element minOccurs="0" name="ACDI" type="xs:int" />
      <xs:element minOccurs="0" name="CARD" nillable="true" type="tns:CARD" />
      <xs:element minOccurs="0" name="CHECK" nillable="true" type="tns:CHECK" />
      <xs:element minOccurs="0" name="CUSTOMERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTOMER_BILL" nillable="true" type="tns:CUSTOMER_BILL" />
      <xs:element minOccurs="0" name="METHOD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENTID" nillable="true" type="tns:dtALPHANUMERIC" />
      <xs:element minOccurs="0" name="PRIMARY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERDEFINED" nillable="true" type="tns:USERDEFINED" />
      <xs:element minOccurs="0" name="CARDTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LASTACCESSDATE" nillable="true" type="xs:string" />
    </xs:all> 
  </xs:complexType>
  <xs:complexType name="CUSTOMER_VAULT">
    <xs:all>
      <xs:element minOccurs="0" name="CSDI" type="xs:int" />
      <xs:element minOccurs="0" name="CUSTOMERID" nillable="true" type="tns:dtALPHANUMERIC" />
      <xs:element minOccurs="0" name="CUSTOMER_BILL" nillable="true" type="tns:CUSTOMER_BILL" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERDEFINED" nillable="true" type="tns:USERDEFINED" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="OPERATIONPARAMETERS">
    <xs:all>
      <xs:element minOccurs="0" name="ACTIONCODE" type="tns:dtActionCode" />
      <xs:element minOccurs="0" name="ADD_IF_DECLINED" type="tns:dtIndicator0or1" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="dtActionCode">
    <xs:restriction base="xs:int">
      <xs:enumeration value="1" /><!--Add-->
      <xs:enumeration value="2" /><!--Update-->
      <xs:enumeration value="3" /><!--Delete-->
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtIndicator0or1">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0" /><!--false-->
      <xs:enumeration value="1" /> <!--true-->     
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtEncryptionValue">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0" />      <!--false-->
      <xs:enumeration value="1" />      <!--P2P-->
      <xs:enumeration value="2" />      <!--E2E-->
    </xs:restriction>
  </xs:simpleType>
  

  <!--END TRANSACTION_VAULT-->
  <!--START TRANSACTIONIMAGE-->
  <xs:complexType name="TRANSACTIONIMAGE">
    <xs:all>
      <xs:element minOccurs="0" name="CHECKIMAGE" nillable="true" type="tns:CHECKIMAGE" />
      <xs:element minOccurs="0" name="MERCHANTKEY" nillable="true" type="tns:MERCHANT_KEY" />
      <xs:element minOccurs="0" name="SIGNATURE" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="TRANSACTIONID" type="xs:int" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CHECKIMAGE">
    <xs:all>
      <xs:element minOccurs="0" name="BACKSIDE" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FRONTSIDE" nillable="true" type="xs:base64Binary" />
    </xs:all>
  </xs:complexType>
  <!--END TRANSACTIONIMAGE-->
  <!--START PLAN_AB-->
  <xs:complexType name="PLAN_AB">
    <xs:all>
      <xs:element minOccurs="0" name="ACTIVE" type="xs:int" />
      <xs:element minOccurs="0" name="CUSTOMERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENDDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALLMENT" nillable="true" type="tns:INSTALLMENT" />
      <xs:element minOccurs="0" name="MAXRETRIES" type="xs:int" />
      <xs:element minOccurs="0" name="MERCHANT_KEY" nillable="true" type="tns:MERCHANT_KEY" />
      <xs:element minOccurs="0" name="NEXTPAYMENT_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENTID2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANID" type="xs:int" />
      <xs:element minOccurs="0" name="RECURRING" nillable="true" type="tns:RECURRING" />
      <xs:element minOccurs="0" name="SCHEDULE" nillable="true" type="tns:ArrayOfPAYMENT_AB" />
      <xs:element minOccurs="0" name="STARTDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="INSTALLMENT">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OPTIONS">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMOUNT" type="xs:decimal" />
          <xs:element minOccurs="0" name="AUTOCALC_OPTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BALLOON_AMOUNT" type="xs:decimal" />
          <xs:element minOccurs="0" name="BALLOON_OPTION" type="xs:int" />
          <xs:element minOccurs="0" name="COUNT" type="xs:int" />
          <xs:element minOccurs="0" name="REMAINDER_OPTION" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OPTIONS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CYCLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DAY" type="xs:int" />
      <xs:element minOccurs="0" name="FREQUENCY" type="xs:int" />
      <xs:element minOccurs="0" name="MONTH" type="xs:int" />
      <xs:element minOccurs="0" name="WEEKDAY" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RECURRING">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OPTIONS">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMOUNT" type="xs:decimal" />
          <xs:element minOccurs="0" name="NOEND_FLAG" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfPAYMENT_AB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PAYMENT_AB" nillable="true" type="tns:PAYMENT_AB" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PAYMENT_AB">
    <xs:all>
      <xs:element minOccurs="0" name="AMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="INSTALLMENTDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALLMENTNUM" type="xs:int" />
      <xs:element minOccurs="0" name="NUMOFRETRIES" type="xs:int" />
      <xs:element minOccurs="0" name="PAID" type="xs:int" />
      <xs:element minOccurs="0" name="PAYMENTDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANID" type="xs:int" />
      <xs:element minOccurs="0" name="PROCESSED" type="xs:int" />
      <xs:element minOccurs="0" name="SCHEDULEID" type="xs:int" />
      <xs:element minOccurs="0" name="TRANSACTIONID" type="xs:int" />
    </xs:all>
  </xs:complexType>
  <!--END PLAN_AB-->
  <!--START PLAN_AB_EXT-->
  <xs:complexType name="PLAN_AB_EXT">
    <xs:all>
      <xs:element minOccurs="0" name="ACTIVE" type="xs:int" />
      <xs:element minOccurs="0" name="CUSTOMERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENDDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALLMENT" nillable="true" type="tns:INSTALLMENT" />
      <xs:element minOccurs="0" name="MAXRETRIES" type="xs:int" />
      <xs:element minOccurs="0" name="MERCHANT_KEY" nillable="true" type="tns:MERCHANT_KEY" />
      <xs:element minOccurs="0" name="NEXTPAYMENT_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENTID2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANID" type="xs:int" />
      <xs:element minOccurs="0" name="RECURRING" nillable="true" type="tns:RECURRING" />
      <xs:element minOccurs="0" name="SCHEDULE" nillable="true" type="tns:ArrayOfPAYMENT_AB" />
      <xs:element minOccurs="0" name="STARTDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERDEFINED" nillable="true" type="tns:USERDEFINED" />
    </xs:all>
  </xs:complexType>
  <!--END PLAN_AB_EXT-->
  <!--START ProcessABAccount-->
  <xs:complexType name="ProcessABAccount">
    <xs:all>
      <xs:element minOccurs="0" name="PLAN_AB_EXT" nillable="true" type="tns:PLAN_AB_EXT"></xs:element>
      <xs:element minOccurs="0" name="OPERATIONPARAMETERS" nillable="true" type="tns:OPERATIONPARAMETERS"></xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>